/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald:wght@200;700&display=swap');

* {

  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #f8f8f8; */
}

/* _____________________NavBar */

header {
  background-image: linear-gradient(#4516FE, #4A1CFD);
  height: 500px;
}

body {
  background: #f8f8f8;
}

nav {
  display: flex;
  float: right;
  position: relative;
  top: 5px;
  right: 70px;
  margin: 5px 5px;
}

.nav-item {
  display: flex;
  margin: 5px 10px;
  color: white;
  cursor: pointer;
}

.nav-item-active {
  color: #4516FE;
  background-color: #fff;
  height: 35px;
  width: 80px;
  padding: 4px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center; 
}

nav>:nth-child(7) {
  position: relative;
  top: 4px;
  left: 10px;
  display: flex;
  height: 20px;
  width: 20px;
  color: white;
}


@media    (min-width:375px ) and (max-width:767px) {
  
  /* body{
    margin: 0 auto;
  } */

body{
  overflow-x: hidden;
}
  header{
    width: 608px;
    height: 400px;
  }
  .nav-item{
    margin: 0 auto;
    display: none;
  }
  .fa-solid.fa-bars{
    display: flex;
    color: #fff;
    margin: 0px 10px;
    margin-top: 5px;
    position: relative;
    left: 30%;
  }
  .nav-item.search{
    margin: 0px 10px;
    position: relative;
    left: 20%;
  }
  .nav-logo{
    position: relative;
    top: 0em ;
    right: 3.5rem;
  }
  .header-image{
    width:20rem;
    /* float: right; */
      position: relative;
      left: 18rem;
      top: -4rem;
      /* background-color: #f8f8f8; */
    
  }
  .nav-item-active{
    position: relative;
    cursor: pointer;
  }

  .header-text{
    /* background-color: red; */
    position: relative;
    top: 30%;
    left:0rem;
    width: 50%;
    
  }
  .header-text > p{
    font-size: 15px;
  }

  .tex-hero{
    font-size: 20px;
  }
}
@media    (min-width:768px) {
  .nav-item{
    display: flex;
    margin: 0px 10px;
  }
  .fa-solid.fa-bars{
    display: none;
  }
  header{
    width: 85.5rem;
   
  }
  .header-text{
    position: relative;
    left: 60px;
    top: 20%;
  }
  .header-image {
  position: relative;
  left: 58%;
  top: -150px;
  /* background-color: #f8f8f8; */
}
}
/* _______________end navbar */
/* ________________logo */

.logo {
  margin-top: 20px;
  margin-left: 80px;
  width: 80px;
  cursor: pointer;
}

/* ___________endlogo */

.header-text {
  display: inline-block;
  color: #fff;
 
  padding: 10px;
  font-size: 20px;
}

/* Companies */

.companies {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 792px;
  margin: 20px 0px;
  background-color: #F8F8FA;
}

.company-items {
  text-decoration: none;
  font-family: "Josefin Sans";
  font-size: 25px;
  font-weight: 900;
  color: #000;

}

@media    (min-width:375px ) and (max-width:767px) {
  .companies{
    margin: 0 auto;
    overflow-x: hidden;
    margin-top: 30px;
    width:100%;
  }
  .company-items{
    margin: 0 auto;
  }
}

/* _________________ APIs Section */

.api {
  /* border: 2px solid red; */
  height: 420px;
}

.api-heading {
  position: relative;
  top: 25px;
  left: 50px;
  max-width: 300px;
}

.card {
  display: inline-block;
  position: relative;
  left: 50px;
  top: -30px;
  margin: 5px;
  padding: 10px;
}

.card:nth-child(3) {
  position: relative;
  top: -58px;
}


.card-logo {
  max-width: 50px;
}

p.card-body {
  display: inline-block;
}

.card-active {
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  left: 30px;
  top: 20px;
  margin: 10px 0px;
  padding: 30px;
  border-radius: 12px;
  width: 214px;
  height: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* div:nth-child(5):after{
  content: ">";
  background-color:#4516FE;
  color: #fff;
  position: relative;
  top: -73px;
  left: 15px;
  padding: 2px 20px;
  border-radius: 45px;
  font-size: 40px;
} */


.api-heading::after {
  content: ">";
  background-color: #4516FE;
  color: #fff;
  position: relative;
  left: 1000px;
  top: 80px;
  padding: 2px 20px;
  border-radius: 45px;
  font-size: 40px;
}


@media    (min-width:375px ) and (max-width:767px) {
  
  .api{

    height: 70rem;
    width: 35rem;
    margin: 0 auto;
    display: grid;

  }
  .card{
    margin: 40px auto;
    
  }
  .api-heading::after{
    display: none;
  }
}

@media  (max-width:768px) {
  /*  */
  .api{
    height: 60rem;
  }
  .card{
    margin: 40px auto;
    
  }
  
}



/* ________Blog here */

.blog-heading {
  display: inline-block;
  position: relative;
  margin-top: 0px;
  left: 66px;
  top: 8px;
  height: 4rem;
}

.blog-heading::after {
  content: 'See all Article';
  color: #4516FE;
  position: relative;
  left: 90%;
  margin-left: 540px;
  font-weight: 800;
}

.blog-cards {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 0px;
  /* max-width: auto; */
  height: 450px;
  
}

/* div> img[src="./images/Rectangle.png"]{
  background-color: #f8f8f8;
} */

.blog-card {
  /* border: 1px solid red; */
  display: flex;
  margin: 10px 0px 10px 10px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 0px 20px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0.2 rgba(0, 0, 0, 0.19);

}

.blog-card-bottom-image {
  position: relative;
  top: 92%;
  right: 171px;
  border-radius: 20px;
  background-color: #ffffff;
}

div>b.blog-author {
  height: 40px;
  max-width: 50px;
  position: relative;
  display: flex;
  top: 88%;
  left: -145px;
  font-size: 10px;
}

div.blog-content {
  margin: 10px;
  padding: 6px;
  position: relative;
  left: 60px;
}

.blog-content>small {
  display: flex;
  font-size: 12px;
  width: 190px;
  height: 80px;
  margin-top: 10px;
}

.blog-content>:nth-child(1) {
  color: #4516FE;
}

.blog-content>:nth-child(2) {
  margin-bottom: 5px 0px;
  height: 70px;
  width: 190px;
}

@media    (min-width:375px ) and (max-width:767px) {
  .blog-cards{
    height: 800px;
    margin: 0px 0px;
    padding: 0px;
    display: grid;

  }
  
  .blog-card{
    display: flex;
    margin-bottom: 20px;
    border-radius: 0px 20px 20px 0px;
  }
 
}


/* Blog end here */

/* Faq Section ??????? */
.faq-section {
  margin-top: 35px;
  /* border: 2px solid rgb(0, 255, 0); */
  background-color: #E9EDFF;
  display: flex;
}

.faq-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.faq-content>h2 {
  position: relative;
  left: 60px;
  margin: 5px 0px;
  font-size: 30px;
}

.faq-content>h4 {
  position: relative;
  left: 60px;
  margin: 5px 0px;
}

.faq-content>:nth-child(3) {
  margin: 20px 0px;
}

.faq-content>button {
  border: 2px solid #4A1CFD;
  width: 120px;
  height: 40px;
  position: relative;
  left: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #4A1CFD;
  cursor: pointer;
}



.faq-image {
  position: relative;
  left: 164px;
  width: 20px;
}

@media (min-width:380px) and (max-width: 767px) {
  .faq-section{
    margin-right:0px;
    display: grid;
    overflow-x: hidden;
    width:fit-content
  }
  .faq-img{
    width: 400px;
    float:left;
  }
}  

/* faq End here_______________________________________ */

/* Download section  */
.download-section {
  /* border: 2px solid royalblue; */
  padding: 15px;
  width: auto;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -5px;
}

.download-content {
  position: relative;
  left: -100px;
}

h1>span {
  font-weight: 100;
}

.download-email {
  padding: 10px;
  /* border: 2px solid red; */
  position: relative;
  right: -60px;
  background-color: #E9EDFF;
  border-radius: 55px;
  height: 8;
}

input {
  border: none;
  background-color: #E9EDFF;
  height: 55px;
  width: 400px;
  border-radius: 30px;
}

form>:nth-child(2) {
  height: 52px;
  width: 150px;
  border-radius: 20px;
  border: none;
  background-color: #4516FE;
  color: #f8f8f8;
  cursor: pointer;
}

@media (min-width: 380px) and (max-width:767px){
  .download-section{
    display: grid;
  }

  .download-email{
    position: relative;
    left: 0px;
  }
  .download-content{
    position: relative;
    left: 0px;
    padding: 0px;
  }

  form>:nth-child(2){
float: right;
padding: 0px;
  }
   
  input{
    border: white;
  background-color: #E9EDFF;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  }
}

/* ________footer */

.footer-section {
  background: #4516fe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  width: 100%;
}

/* left part of footer */
.footer-left {
  /* border: 2px solid paleturquoise; */
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top: -45px;
  cursor: pointer;
}

.footer-logo {
  position: relative;
  top: -40px;
  left: 60px;
  cursor: pointer;
}

.list {
  display: flex;
  position: relative;
  left: 60px;
}

/* .list>.list-items::after {
  content: '';
  position: relative;
  top: 4px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 1px;
} */


.list>.list-items:nth-child(2):after{
  content: '';
  position: relative;
  top: 4px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 1px;
}
.list>.list-items:nth-child(3):after{
  content: '';
  position: relative;
  top: 4px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 1px;
}
.list>.list-items:nth-child(4):after{
  content: '';
  position: relative;
  top: 4px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 1px;
}




.list-items {
  display: flex;
  color: white;
  margin: 0px 10px;
  position: relative;
  top: 0px;
}

/* right part of footer */


.footer-right{
  display: inline-block;
  position: relative;
  top: -60px;
}

.footer-logos {
  position: relative;
  top:80px;
  margin: 0px 25px;
  cursor: pointer;
}

.logos-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
  left: 435px;
  width: 200px;
}

.logos-list>.list-items:nth-child(1)::after {
  content: '';
  position: relative;
  top: 4px;
  left: 8px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 1px;
}
.logos-list>.list-items:nth-child(2)::after {
  content: '';
  position: relative;
  top: 4px;
  left: 8px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  width: 1px;
}


@media  (min-width: 380px) and (max-width : 767px){

  .logos-list{
    display: grid;
  }


  .footer-right{
    position: relative;

    color: white;
  }
}